@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

body {
    background-color: rgb(246, 246, 246);
}

/* #toasts > div > div > div {
    @apply relative w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden;
}
#toasts > div > div > div > div:first-child {
    @apply absolute left-0 bottom-0 right-0 h-1 rounded bg-gray-200;
} */

#modals div[role='dialog'] button {
    text-align: center;
    justify-content: center;
}

#modals div.fixed.top-0.right-0 {
    display: none;
}
