{
    "root": true,
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/ban-ts-comment": "error",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "comma-dangle": "off",
        "prettier/prettier": "error",
        "semi": [
            "error",
            "always"
        ],
        "vue/html-indent": [
            "error",
            4,
            {}
        ],
        "vue/no-empty-component-block": "error",
        "vue/require-explicit-emits": "error"
    }
}
