[run]
source =
    backend
omit =
    backend/migrations/*
    backend/__main__.py
    backend/settings.py
parallel = True
concurrency =
    thread
    multiprocessing

[report]
show_missing = True
exclude_lines =
    nocv
